html, body, #root {
  /* height: 100%; */
}

body {
  /* background-color: #083D77; */
  background-color: #f5f5f5;
  /* color: #fff; */
  color: #000;
}

@keyframes fakeVideo {
  from {
    transform: scale(1.0);
    filter: blur(0);
  }

  to {
    transform: scale(1.005);
    filter: blur(0.5px);
  }
}

#video {
    animation-duration: 0.3s;
    animation-name: fakeVideo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}